@charset "utf-8";

    /*전체 레이아웃*/
        /* #wrap{color: #000; background-color: #555;} */
        #wrap{width: 1920px; color: #000; border:1px solid gray; position: relative; left:50%; top:0; transform:translate(-50%,0);}
        /* #header{background: #888; display:flex; justify-content: center; position:absolute; z-index: 100; left:50%; translate: -50%;} */
        #header{display:flex; justify-content: center; position:absolute; z-index: 1000; left:50%; translate: -50%; background-color:#fff;}
        /* #contents{background: #777;} */
        /* #footer{height: 450px; background: #666;} */
        #footer{height: 450px;}

    /*레이아웃*/
        /*확인용*/
        /*#header-title{height: 92px; background:#ffd7d7;}
        #header-nav{height: 92px; background:#ffc6c6;}
        #cont_ban1{height: 1080px; background:#ffb0b0;}
        #cont_ban2{height: 717px; background:#ff9d9d;}
        #con_1{height: 750px; background:#ff8b8b;}
        #con_2{height: 1205px; background:#ff7979;}*/
        /* #con_3{height: 775px; background:#ce6060;} 
        #con_4{height: 580px; background:#ff5656;}
        #footer-info{height: 450px; background:#ff3939;} */

        #header-title{height: 92px;}
        #header-nav{height: 92px;}
        #cont_ban1{height: 1080px;}
        #cont_ban2{height: 750px;} 
        #con_1{height: 750px;}
        #con_2{height: 1173px;}
        #con_3{height: 775px;} 
        #con_4{height: 580px;}
        #footer-info{height: 450px; background-color: #F8F8F8;}

    
        
        /* 컨테이너 */
        /*확인용*/
        /* .container{width:1920px; margin: 0 auto; height: inherit; background: rgba(0,0,0,0.3);}
        .container_left{width:672px;  margin: 0 auto; height: inherit; background: rgba(0,0,0,0.3);}
        .container_right{width:1248px;  margin: 0 auto; height: inherit; background: rgba(0,0,0,0.3);} */
        .container{width:1920px; margin: 0 auto; height: inherit;}
        .container_left{width:672px;  margin: 0 auto; height: inherit;}
        .container_right{width:1248px;  margin: 0 auto; height: inherit; font-family: 'Montserrat', sans-serif; position: relative; /* padding-top: 25px; */}
        
        /* 간격 맞추기 위해서 박스 삽입
        (padding, margin으로 하려다가 시간 내에 실패) */
        .get_distance{background:yellow; visibility:hidden;}        
        .box_for_distance_1{height:106px;}
        .box_for_distance_2{height:34px;}
        .box_for_distance_3{height:50px;}

/* header 요소 */
        .container_left{
            position: relative;
        }
        .menu{
            position:sticky;
            top:58px;
            cursor: pointer;
            visibility: visible;
            z-index: 10;
            transition: opacity .5s ease-out;
        }
        .menu_open{
            position:sticky;
            top:58px;
            cursor: pointer;
            visibility: visible;
            z-index:0;
            opacity:0;
            transition: opacity .5s ease-out;
        }

        .open_menu_wrap a{
            font-size: 27px;
            font-family: 'Geologica', sans-serif;
        }

        .open_menu_list{
            margin: 15px 0;
        }

        .container_left #logo{
            position:absolute;
            top:43px;
            left: 370px;
        }
        
        #header-title{
            width:672px;
            z-index:11;
        }
        #header-nav{
            width:1248px;
            z-index:10;
        }
        
        .header_right_txt_wrap{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: end;
            position: relative;
            right: 370px;
        }
        .header_right_txt_wrap_inner{
            width: 90px;
            position: relative;
            bottom: 28px;
            font-size: 20px;
            text-align: right;
        }
        .header_right_txt_wrap_inner:nth-child(2){
            width:55px;
        }
        .header_right_txt_wrap_inner.search{
            display:flex;
            justify-content: start;
            align-items: center;
            margin-right:30px;
            transition: all 0.5s ease-out;
        }
        .header_right_txt_wrap_inner.search img{
            float: left;
            position:relative;
            top:2px;
            margin-right:12px;
            opacity: 0;
            transition: all 0.5s ease-out;
        }
        .header_right_txt_wrap_inner.search:hover{
            position: relative;
            float: left;
            width: 150px;
            cursor: pointer;
            text-align: start;
        }
        .header_right_txt_wrap_inner.search:hover>img{
            position: relative;
            float: left;
            opacity: 1;
        }

        
        .header_right_txt_wrap_inner a{
            position: relative;
            display: block;
        }
        .header_right_txt_wrap_inner:nth-child(4) a{
            right:24px;
        }

        .header_right_txt_wrap_inner:nth-child(n+2):hover{
            font-weight: 600;
        }
        .header_right_txt_wrap_inner:first-child a span{
            transition: all 0.3s ease-out;
        }
        .header_right_txt_wrap_inner:first-child:hover a span{
            opacity:0.2;
        }
    
    /* 상단 nav 밑줄 좌->우 애니메이션 */
        .header_right_txt_wrap>div>a>span{
            position:relative;
        }
        .header_right_txt_wrap>div:nth-child(n+2) span::after{ 
            content: "";
            position: absolute;
            top: 110%;
            left: 0;
            width:0%;
            height:2px;
            background-color:#000;
            transition: all 0.3s;
            opacity:0;
        }
        .header_right_txt_wrap>div:hover>a>span::after{
            width:100%;
            opacity:1;
        }
        /*중앙->양쪽으로 밑줄 애니메이션*/
        .header_right_txt_wrap>div:nth-child(n+2) span::after{
            left: 50%;
            transform: translateX(-50%);
        }
        .header_right_txt_wrap>div:nth-child(1) span::after{
            left: 100%;
            transform: translateX(-100%);
            opacity: 1;
        }
        /* search 메뉴 밑줄 좌->우 애니메이션 */
        .header_right_txt_wrap>div>a{
            position:relative;
        }
        .header_right_txt_wrap>div:nth-child(1):after{ 
            content: "";
            position: absolute;
            top: 110%;
            left: 0;
            width:0%;
            height:2px;
            background-color:#4d4d4d;
            transition: all 0.3s;
        }
        .header_right_txt_wrap>div:hover::after{
            width:100%;
            opacity:1;
        }
        /*우->좌로 밑줄 애니메이션 효과 적용*/
        .header_right_txt_wrap>div:nth-child(1)::after{
            left: 100%;
            transform: translateX(-100%);
        }
/* header 요소 E */


/* banner_1 요소 S */

    /*  content_ban1 영역*/
        /*배경이미지*/
        #cont_ban1 .container{
            /* background-image: url('../images/main-bg-1.jpg');
            background-repeat: no-repeat;
            background-size: cover; */
            position: relative;
        }
        .bg_fade{
            position:absolute;
        }
        .main_bg1_fade {
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            transition: all 0.3s ease-in;
            opacity: 1;
        }
        .main_banner{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease-in;
        }
        #cont_ban1 .container .banner_main_title{
            position:absolute;
            color: #000;
            font-size: 170px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 900;
            /* font-family: 'Archivo Black', sans-serif; */
            font-family: 'Geologica', sans-serif;
        }

/*임시 시작*/
        .main_title_fade{
            position:absolute;
            color:rgb(95, 216, 253); 
            font-size: 170px;
            top: 50%;
            left: 50%;
            transform:translate(-26%,-50%);
            font-weight: 900;
            transition: all 0.3s ease-out;
            font-family: 'Geologica', sans-serif;
            opacity: 0;
        }
        








/*임시 끝*/
        #cont_ban1 .container .banner_sub_title{
            position: absolute;
            left: 370px;
            top: 82%;
            opacity:0; 
            /* transition-delay:1.7s;  */
            transition-duration: 0.5s;
            font-size: 28px;
            font-family: 'Geologica', sans-serif;
        }
        #cont_ban1 .sub_con p{
            position: absolute;
            left: 370px;
            bottom: 150px;
            width:300px;
            height:200px;
            font-size:37px;
            color: #000;
            
            /* font-family: 'termina', sans-serif;
            font-style: normal;
                font-weight: 900; 
                https://fonts.adobe.com/fonts/termina#fonts-section //폰트 termina
                https://express.adobe.com/ko-KR/sp/design/post/urn:aaid:sc:AP:705336e9-36ae-4070-97a4-4f3c59a73d5b?workflow=blank&fallbackThresh=default&requestor=af&font=Termina-Black&fontSpecimen=The+quick+brown+fox+jumps+over+the+lazy+dog&promoid=3F8XBFBG&mv=other
                */
        }
        .cont_ban1_arrow{
            cursor:pointer;
        }
/* banner_1 요소 E */

/* banner_2 요소 S*/
        #cont_ban2 .container{
            position: relative;
        }
        #cont_ban2 img{
            position: absolute;
        }
        #cont_ban2 img:nth-child(1){
            right:197px;
            top:77px;
        }
        #cont_ban2 img:nth-child(2){
            width:333px;
            height:500px;
            right:280px;
            top:171px;
        }
    /* banner2 텍스트영역 */
        .banner_2_text {
            margin-left: 370px;
            /* padding-top: 106px; */  /*html에서 div .box_for_distance로 간격 맞춤*/

            line-height:1;
        }
        .banner_2_text>p{
            font-family: 'Noto Sans KR', sans-serif;
        }
        .banner_2_text>p:nth-child(2){
            position:relative;
            top:7px;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 20px;
            font-size: 18px;
            padding-left:1px;
        }
        .banner_2_text>p:nth-child(n+3):nth-child(-n+4){
            font-family: 'Geologica', sans-serif;
        }
        .banner_2_text>p:nth-child(3){
            font-size: 28px;
            padding-left:1px;
        }
        .banner_2_text>p:nth-child(4){
            font-size: 78px;
            margin-bottom: 20px;
        }
        .banner_2_text>p:nth-child(n+5):nth-child(-n+8){
            line-height: 1.5;
            font-size: 18px;
        }
        .banner_2_text>p:nth-last-child(1){
            font-family: 'Geologica', sans-serif;
            font-size: 18px;
            display:inline-block;
        }

    /*banner2 하단 페이지 영역*/
        .bottom_number{
            position:absolute;
            bottom:20px;
            left:50%;
            transform: translate(-50%);
            width:260px;
            height:30px;
            /* background-color: #000;
            color:#fff; */
        }
        .bottom_number_container{
            position:relative;
            display:flex;
            justify-content: start;
            height:inherit;
        }
        .ban2_bottom_left{
            font-size:24px;
            font-family:'Archivo Black', sans-serif;
        }
        .ban2_bottom_center{
            position:relative;
            width:100%;
            height:100%;
            margin:0 20px;
        }
        .ban2_bottom_center_border{
            border-top:solid 3px #777;
            width:100%;
            height:13px;
            position:absolute;
            bottom:0;
        }
        .ban2_bottom_right{
            font-size:24px;
            font-family:'Archivo Black', sans-serif;
        }
/* banner_2 요소 E*/

/* content_1 요소 S */
        #con_1 .container{
            background-image: url('../images/br-banner.jpg');
            background-repeat: no-repeat;
            background-position: bottom;
            position: relative;
            
        }
        #con_1 .container .product1{
            position: absolute;
            top: 0;
            left: 370px;
        }
/* content_1 요소 E */

/* content_2 요소 S */
        #cont2_nav ul {
            /*html에서 div .box_for_distance로 간격 맞춤*/
            /* padding-top: 50px; */
            display:flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            /* font-family: 'Geologica', sans-serif; */
        }
        #cont2_nav ul li{
            margin: 0 13px;
        }
        #cont2_nav ul a {
            font-weight: 800;
            font-size: 21px;
        }
        #con_2 .container {
            background-image: url('../images/tab-bg.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        #cont_2_body {
            margin: 50px auto 0 auto;
            width: 1180px;
            height: 1000px;
            /* 그리드 영역 확인 */
            /* background-color: rgba(0,0,0,0.2); */
        }
        .grid-container {
            display: grid;
            max-width: 1180px;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px 20px;
            grid-auto-rows: minmax(380px, 465px);
        }
        
        /* 그리드 구조 확인 */
        /* .grid-container>div {
            border: 1px solid maroon;
            padding: 0;
        } */

        .grid-container .grid_item {
            position: relative;
        }
        .grid-container img {
            display:block;
        }
        .grid-container p {
            text-align: center;
            /* font-family: 'Montserrat', sans-serif; */
            /* font-family: 'Rowdies', cursive; */
            /* font-family:'Archivo Black', sans-serif; */
            font-family: 'Geologica', sans-serif;
            font-size: 24px;
        }
        .grid-container p:nth-child(2) {
            margin-top: 20px;
            font-weight: 800;
        }
        .grid-container p:nth-child(3){
            font-weight: 100;
        }

        /* con_2에 hover 창 */
        .con2_hover{
            position:absolute;
            background-color:rgba(0,0,0,0.3);
            width:380px;
            height:380px;
            top:0;
            left:0;
            opacity: 0;
            transition: opacity 0.5s;
        }
        .con2_hover_txt_area{
            width:360px;
            height:35%;
            position:absolute;
            transform:translate(-50%);
            left:50%;bottom:10px;
            /* background-color:#222; */
            color:#fff;
        }
        .con2_hover_txt_area_2{
            position:relative;
            width:100%;
            height:100%;
        }
        .con2_hover_item1{
            display:flex;
            justify-content:space-between;
        }
        .con2_hover_item1>div:nth-child(1){
            /* color:#fff; */
            font-size:18px;
            font-weight:400;
            font-family:'Montserrat', sans-serif;
            margin:0 0 10px 0;
        }
        .con2_hover_item1>div:nth-child(2){
            /* color:#fff; */
            font-size:18px;
            font-weight:400;
            font-family:'Montserrat', sans-serif;
        }
        .con2_hover_item2{
            /* color:#fff; */
            width:100%;
            height:25px;
            border-top:solid 1px #fff;
            line-height:2.5;
        }
        .con2_hover_item3{
            /* color:#fff; */
            font-size:20px;position:absolute;
            bottom:20px;
            left:50%;transform:translate(-50%);
            border:solid 1px #fff; 
            width:100%;
            height:35px;
            text-align:center;
            line-height: 35px;
            color:#fff;
            font-weight:500;
            cursor:pointer;
            align-content: center;
        }
        .con2_hover_item3 button{
            width:100%;
            height:100%;
        }
        .con2_hover_item3:hover{
            background-color: #fff;
            color: #000;
            transition: 0.5s;
        }
        /*hover 효과*/
        .con2_hover{
            opacity: 0;
        }
        .con2_hover:hover{
            opacity: 1;
        }
/* content_2 요소 E */

/* content_3 요소 S */
        #con_3 .container{
            position: relative;
            overflow: hidden;
        }
        #con_3 .container img {
            float: left;
        }
        .con_3_txt {  /* 기울인 글자 그냥 넣는거 말고 수치에 맞게 넣고싶으면 어떻게 해야하는지 질문. */
        font-size: 48px;
        transform:rotate(270deg) translate(-100%); 
        position: absolute;
        /* transform: translate(-50%, -50%); */
        top:25px;
        left:3.6em;
        /* font-family: 'Rowdies', cursive; */
        font-family: 'Geologica', sans-serif;
        color: #fff;
        line-height: 0.8;
        }
        .con_3_txt>p>span {
        font-weight: 400; 
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
        /* top: 18em;
        left: 13em; */
        }
        #con_3 .con_3_box {
            width: 480px;
            height: 700px;
            /* 사진 넣는 박스 공간 확인 */
            /* background-color: rgba(0,0,0,0.2); */
            margin-left: 20px;
            float: left;
            margin-top: 36px;
        }
        .con_3_box .item_1{
            height:42px;
            color: #000;
            font-family: 'Rowdies', sans-serif;
            font-size: 18px;
            font-weight: 600;
        }
        .con_3_box .item_2{
            height:655px;
            /* border: 1px solid #000; */
        }

        .con_3_box_wrap{
            width:3000px;
            height:700px;
            /* background-color: rgba(0,0,0,0.3); */
        }
/* content_3 요소 E */

/* content_4 요소 S */    
        #con_4 .container{
            margin-top: 119px;
        }
        
        #con_4 .container ul{
            display: flex;
            justify-content: center;
        }
        #con_4 .container>ul>li:nth-child(n+2){
            margin-left:20px
        }
        .con_4_leftBox {
            width: auto;
            height: auto;
            /*영역 확인용*/
            /* background-color: rgba(0,0,0,0.2); */
        }
        .con_4_leftBox .con_4_left_bottom {
            height:300px; 
            padding-top:20px;
            position: relative;
        }
        .con_4_left_bottom p {
            font-size: 48px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }
        .con_4_left_bottom p:nth-last-child(1){
            text-align: right;
        }
/* content_4 요소 E */

/* footer 요소 S */
        #footer-info .container{
            position: relative;
            margin-top: 151px;
            padding-top: 40px;
        }
        .midbox{
            width:1180px;
            position: absolute;
            top:0;
            left:50%;
            translate: -50%;
            /* footer 영역 확인 */
            /* background: orange; */
        }
        
        .midbox .midbox-top {           /* footer_mid_top */
            padding-top: 42px;
            width: 100%;
            height: 225px;
            /* footer 윗부분 확인 */
            /* background: rgba(0,0,0,0.2); */
            display: flex;
            justify-content: start;   
            float: left;
            font-size: 24px;
            color: #777;
            font-size: 14px;
            /* font-family: 'Pretendard'; */
            font-family: 'sans-serif';
        }
        #footer-info .midbox-top li {
            line-height: 1;
            margin-bottom: 10px;
        }
        #footer-info .midbox-top li:nth-last-child(1) {
            margin-bottom: 0;
        }
        #footer-info .midbox-top>p:nth-child(1){
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
        }
        #footer-info .midbox-top>p>span{
            font-size: 34px;
            font-weight: 600;
            color: #000;
        } 
        #footer-info .midbox-top ul {
            margin-left: 50px;
        }
        
        .midbox .midbox-bottom {            /* footer_mid_bottom */
            clear: both;
            width: 100%;
            height: 185px;
            /* footer 아랫부분 확인 */
            /* background: rgba(0,0,0,0.4); */
        }
        .sns_img_border{
            position:relative;
            width: 47px;
            height: 47px;
            border: 1px solid #000;
            border-radius: 50%;
            margin-left: 16px;
        }
        .sns_img{
            top: 40px;
            left: 50%;
            transform:translate(-50%, 0);
            display: flex;
            justify-content: center;
            position: relative;
        }
        .sns_img>.sns_img_border>img{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .midbox-bottom>P{
            text-align: center;
            position: relative;
            top:50px;
            color: #777;
            font-size:14px;
            font-family: 'Noto Sans KR', sans-serif;
        }
/* footer 요소 E */



