@charset "utf-8";

    /*전체 레이아웃*/
        #wrap{color: #000;}
        #header{background: #888; display:flex; justify-content: center; position:absolute; z-index: 100; left:50%; translate: -50%;}
        #contents{background: #777;}
        #footer{height: 450px; background: #666;}

    /*레이아웃*/
        #header-title{height: 92px; background:#ffd7d7;}
        #header-nav{height: 92px; background:#ffc6c6;}
        #cont_ban1{height: 1080px; background:#ffb0b0;}
        #cont_ban2{height: 717px; background:#ff9d9d;}
        #con_1{height: 750px; background:#ff8b8b;}
        #con_2{height: 1205px; background:#ff7979;} /* 샘플은 1223px인데 멀어보여서 조정 */
        #con_3{height: 775px; background:#ce6060;} 
        #con_4{height: 580px; background:#ff5656;}
        #footer-info{height: 450px; background:#ff3939;}

    /* 컨테이너 */
        .container{width:1920px; margin: 0 auto; height: inherit; background: rgba(0,0,0,0.3);}
        .container_left{width:672px;  margin: 0 auto; height: inherit; background: rgba(0,0,0,0.3);}
        .container_right{width:1248px;  margin: 0 auto; height: inherit; background: rgba(0,0,0,0.3);}

    /* header 요소 */
        .container_left{
            position: relative;
        }
        #menu{
            position:sticky;
            top:58px;
            left: 101px;
            z-index: 9999;
        }
        .container_left #logo{
            position:absolute;
            top:43px;
            left: 365px;
        }
        
        .container_right ul{
            display: flex;
            margin-left: 120px;
        }
        .container_right {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 25px;
            font-family: 'Montserrat', sans-serif;
        }    

        ul{
            list-style: none;
        }
        .container_right>ul>li{
            margin:0 20px;
            color:#000;
        }
        li a{
            text-decoration: none;
            font-size: 22px;
            color: #000;
        }
        li a:hover{
            font-weight: 600;
        }

    /* banner_1 요소 S */

        /*  content_ban1 */
       #cont_ban1 .container{
           background-image: url('../images/main-bg-1.jpg');
           background-repeat: no-repeat;
           background-size: cover;
           position: relative;
       }
       #main-banner{
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
       }
       #cont_ban1 .container .banner_main_title{
           position:absolute;
           color: #000;
           font-size: 170px;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           font-weight: 900;
           font-family: 'Rowdies', cursive;
       }
       #cont_ban1 .container .banner_sub_title{
           position: absolute;
           left: 365px;
           top: 78%;
           font-size: 28px;
           font-family: 'Rowdies', cursive;
       }
       #cont_ban1 .sub_con p{
           position: absolute;
           left: 370px;
           bottom: 150px;
           width:300px;
           height:200px;
           font-size:37px;
           color: #000;
           
           /* font-family: 'termina', sans-serif;
           font-style: normal;
             font-weight: 900; 
             https://fonts.adobe.com/fonts/termina#fonts-section //폰트 termina
             https://express.adobe.com/ko-KR/sp/design/post/urn:aaid:sc:AP:705336e9-36ae-4070-97a4-4f3c59a73d5b?workflow=blank&fallbackThresh=default&requestor=af&font=Termina-Black&fontSpecimen=The+quick+brown+fox+jumps+over+the+lazy+dog&promoid=3F8XBFBG&mv=other
             */
       }
    /* banner_1 요소 E */

    /* banner_2 요소 S*/
        #cont_ban2 .container{
            position: relative;
        }
        #cont_ban2 img{
            position: absolute;
        }
        #cont_ban2 img:nth-child(1){
            right:197px;
            top:45px;
        }
        #cont_ban2 img:nth-child(2){
            width:333px;
            height:500px;
            right:280px;
            top:142px;
        }
        /* banner2 텍스트영역 */
        .banner_2_text {
            margin-left: 365px;
            padding-top: 74px;
        }
        .banner_2_text>p{
            /* font-family: 'Montserrat', sans-serif; */
            font-family: 'Noto Sans KR', sans-serif;
        }
        .banner_2_text>p:nth-child(1){
            font-family: 'Montserrat', sans-serif;
        }
        .banner_2_text>p:nth-child(n+2):nth-child(-n+3){
            font-family: 'Rowdies', cursive;
        }
        .banner_2_text>p:nth-child(2){
            font-size: 28px;
        }
        .banner_2_text>p:nth-child(3){
            font-size: 78px;
        }
        .banner_2_text>p:nth-last-child(1){
            font-family: 'Rowdies', cursive;
            font-size: 21px;
        }
    /* banner_2 요소 E*/

    /* content_1 요소 S */
        #con_1 .container{
            background-image: url('../images/br-banner.jpg');
            background-repeat: no-repeat;
            background-position: bottom;
            position: relative;
        }
        #con_1 .container .product1{
            position: absolute;
            top: 0;
            left: 365px;
        }
    /* content_1 요소 E */

    /* content_2 요소 S */
        #cont2_nav ul {
            padding-top: 50px;
            display:flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
        }
        #cont2_nav ul a {
            font-weight: 800;
            font-size: 21px;
        }
        #con_2 .container {
            background-image: url('../images/tab-bg.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        #cont_2_body {
            margin: 50px auto 0 auto;
            width: 1180px;
            height: 1000px;
            /* 그리드 영역 확인 */
            /* background-color: rgba(0,0,0,0.2); */
        }
        .grid-container {
            display: grid;
            max-width: 1180px;
        
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px 20px;
            grid-auto-rows: minmax(380px, 465px);
        }
        
        /* 그리드 구조 확인 */
        /* .grid-container>div {
            border: 1px solid maroon;
            padding: 0;
        } */
        .grid-container img {
            display:block;
        }
        .grid-container p {
            text-align: center;
            /* font-family: 'Montserrat', sans-serif; */
            font-family: 'Rowdies', cursive;
            font-size: 24px;
        }
        .grid-container p:nth-child(2) {
            margin-top: 20px;
            font-weight: 800;
        }
        .grid-container p:nth-child(3){
            font-weight: 100;
        }
    /* content_2 요소 E */

    /* content_3 요소 S */
        #con_3 .container{
            position: relative;
        }
        #con_3 .container img {
            float: left;
        }
        .con_3_txt {  /* 기울인 글자 그냥 넣는거 말고 수치에 맞게 넣고싶으면 어떻게 해야하는지 질문. */
        font-size: 48px;
        transform:rotate(270deg) translate(-100%); 
        position: absolute;
        /* transform: translate(-50%, -50%); */
        top:-0.2em;
        left:3.6em;
        font-family: 'Rowdies', cursive;
        color: #fff;
        line-height: 0.8;
        }
        .con_3_txt>p>span {
        font-weight: 400; 
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
        /* top: 18em;
        left: 13em; */
        }
        #con_3 .con_3_box {
            width: 480px;
            height: 700px;
            /* 사진 넣는 박스 공간 확인 */
            /* background-color: rgba(0,0,0,0.2); */
            margin-left: 20px;
            float: left;
            margin-top: 36px;
        }
        .con_3_box .item_1{
            height:42px;
            color: #000;
            font-family: 'Rowdies', sans-serif;
            font-size: 18px;
            font-weight: 600;
        }
        .con_3_box .item_2{
            height:655px;
            /* border: 1px solid #000; */
        }
    /* content_3 요소 E */

    /* content_4 요소 S */    
        #con_4 .container{
            margin-top: 119px;
        }
        
        #con_4 .container ul{
            display: flex;
            justify-content: center;
        }
        #con_4 .container>ul>li:nth-child(n+2){
            margin-left:20px
        }
        .con_4_leftBox {
            width: auto;
            height: auto;
            background-color: rgba(0,0,0,0.2);
        }
        .con_4_leftBox .con_4_left_bottom {
            height:300px; 
            padding-top:20px;
            position: relative;
        }
        .con_4_left_bottom p {
            font-size: 48px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }
        .con_4_left_bottom p:nth-last-child(1){
            text-align: right;
        }
    /* content_4 요소 E */

